WebAPI/bin
WebAPI/obj/
/config
/node_modules
/Pizzaria.WebAPI/bin/Debug/net8.0
/Pizzaria.WebAPI/obj/Debug/net8.0
/Pizzaria.Domain/obj/Debug/net8.0
/Pizzaria.Domain/bin
.vs/Pizzaria/FileContentIndex/aa1daaf4-6cc0-4af8-bcbd-d3a7eb076a15.vsidx
.vs/Pizzaria/DesignTimeBuild/.dtbcache.v2
.vs/Pizzaria/v17/.suo
Pizzaria.Domain/bin/Debug/net8.0/Pizzaria.Domain.dll
/Pizzaria.Domain/obj
Pizzaria.Domain/bin/Debug/net8.0
Pizzaria.Domain/bin/Debug/net8.0/Pizzaria.Domain.dll
Pizzaria.Domain/bin/Debug/net8.0/Pizzaria.Domain.dll
Pizzaria.Domain/bin/Debug/net8.0/Pizzaria.Domain.pdb
Pizzaria.Domain/obj/Debug/net8.0/Pizzaria.Domain.AssemblyInfo.cs
Pizzaria.Domain/obj/Debug/net8.0/Pizzaria.Domain.AssemblyInfoInputs.cache
Pizzaria.Domain/obj/Debug/net8.0/Pizzaria.Domain.csproj.CoreCompileInputs.cache
Pizzaria.Domain/obj/Debug/net8.0/Pizzaria.Domain.dll
Pizzaria.Domain/obj/Debug/net8.0/Pizzaria.Domain.pdb
Pizzaria.Domain/obj/Debug/net8.0/Pizzaria.Domain.sourcelink.json
Pizzaria.Domain/obj/Debug/net8.0/ref/Pizzaria.Domain.dll
Pizzaria.Domain/obj/Debug/net8.0/refint/Pizzaria.Domain.dll
