@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');

h1,
h2 {
  font-family: Calibri
}

body {
  font-family: 'Raleway', sans-serif;

}

#headerActions {
  background-color: #ebebeb;


}
.card-pedidos-type-text{
position: absolute;
left: 19vw;

color: red;
font-weight: bold;



}
.icon-size{
  height: 1.5vw;
  width: 1.5vw;
  position: relative;
  top: 0.3vw;
 
  

}
.detalhes-pedido{
position: relative;
left: 16vw;
cursor: pointer;

}

.card-pedidos-status-text{
  font-size: 1vw;
  position: relative;
  right: 0vw;
  bottom: 1vw;

  
  }
.card-pedidos {
  font-size:1vw;
  max-width: 100%;
  width: 27%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 1.2vw;
  margin-top:1vw;
}
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 12vw; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.3vw;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
#linkmenu {
  padding-left: 10vw;

}

.menu {
  left: 0;
  background-color: #FF0000;
  height: 3vw;
  width: 100vw;
  position: absolute;
  top: 0;
  
}

#linkmenu {
  display: inline-flex;
}

ul {
  font-family: 'Lato', Tahoma, Geneva, Verdana, sans-serif;

}

#welcome {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: absolute;
  right: 3vw;
  top: 0vw;
}

#logo {
  position: absolute;
  left: 1px;
  width: 3vw;
  height: 3vw;

}

#sair {
  padding-left: 10px;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

#imgpedido {
  width: 15vw;
  height: 10vw;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.5vw;
  margin-left:0.5vw ;
  font-size:1.5vw;
  width: 20vw;
  height: 100%;
 

}

.product-name-card {
  font-size: 0.8vw;
  position: relative;
  left: 0.5vw;
 
  font-weight: bold;
  color: orangered;
}

.product-description-card {
  font-size: 0.7vw;
  position: relative;
  left: 0.2vw;


}

.product-price-card {
  font-size: 1.3vh;
  position: relative;
  left: 0.2vw;
  
  font-weight: bold;


}

.product-number-sales-card {
  font-size: 1.5vh;
  position: relative;
  left:0.5vw;
  font-weight: bold;



}

.img-card {
  width: 6vw;
  height: 5vw;
  border-radius: 10px;
float: right;
}

.card:hover {
  transform: scale(1.05);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */

}

.menu-rounded {
  height: 2vw;
  width: 2vw;
  margin-right: 3vw;
  background-color: rgb(57, 55, 55);
  border-radius: 50%;
  display: inline-block;

}

.imgCliente {
  background-image: url('./assets/imgs/cliente-icon.png');
  background-repeat: no-repeat;
  background-size: 1.5vw;
  background-position: center;



}

.imgFuncionarios {
  background-image: url('./assets/imgs/funcionarios-icon.png');
  background-repeat: no-repeat;
  background-size: 1.5vw;
  background-position: center;



}

.imgCardapio {
  background-image: url('./assets/imgs/menu-icon.png');
  background-repeat: no-repeat;
  background-size: 1vw;
  background-position: center;



}
.login-bg{
  width: 100%;
  background-image: url('./assets/imgs/bgLogin.jpg');
  background-repeat: no-repeat;
  background-size: 100vw;


  height: 1000vw;

}
html,body {
  height:100%;
  width:100%;
  margin:0;
}

.divLogin{


  border-radius:0.5vw;
  
  border-color: grey;
  border-style: solid;
  background-color: white;


  left: 67%;
  top: 80%;
  margin-left: -25%;
  position: absolute;
  margin-top: -25%;
  
}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}
#loginbg{
  background-image: url('./assets/imgs/bgLogin.jpg');
  background-repeat: no-repeat;
  height: 100%;
     -webkit-filter: blur(4px);
  background-size: 100vw;
   /* Add the blur effect */
   filter: blur(2px);

 
}
img.avatar {
  width: 40%;
  border-radius: 50%;
}



span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}


.imgPedidos {

  background-image: url('./assets/imgs/pedidos-icon.png');
  background-repeat: no-repeat;
  background-size: 1.5vw;
  background-position: center;



}
.menuButtons{

  position:static;

  top:5vw;

  width: 100vw;;
  margin-top: 2.5vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  background-color: white;
  height: 8vw;
 

}
.imgAvaliacao {
  background-image: url('./assets/imgs/favorite-icon.png');
  background-repeat: no-repeat;
  background-size: 4vw;
  background-position: center;



}


.dot:hover {

  background-color: rgb(234, 94, 14);

}



#headerActions>img {
  height: 20px;
  width: 20px;
  margin: 3px;
  margin-left: 10px;
  cursor: pointer;
}


.modal {
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}


/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.buttonContainer {
  position: relative;
  right: 1px;

}

.buttonConfirm {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}
.btnLogin{

  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;


}
.buttonExit {
  background-color: #f44336;
  /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;


}